<!DOCTYPE html>
<html lang="en" class="has-background-white-bis">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter data app</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <div class="section container">
        <label for="enter-data" class="has-text-black is-size-2">Enter Data</label>
        <input class="input" type="text" id="enter-data" placeholder="Enter data" required>
        <button class="button is-primary my-4" type="submit" id="sendData">Submit</button>
    </div>
</body>
<script src="/datatransfer.js"></script>
</html>